.cube-main {
  width: 85px;
  height: 85px;
  position: fixed;
  z-index: 10;
  bottom: 80px;
  right: 80px;
  background-image: url("../../assets/cube-update.png");
  background-size: 100% 100%;
  cursor: pointer;
  animation: shake 1s ease alternate infinite;
}
.cube-main::before {
  content: "";
  position: absolute;
  z-index: 10;
  top: 40px;
  left: 26px;
  box-shadow: 3px 12px 50px 17px rgba(220, 0, 224, 0.8);
}
.cube-main::after {
  content: "";
  z-index: 10;
  width: 50px;
  transition: 0.3s ease;
  position: absolute;
  top: 40px;
  left: 0px;
  opacity: 0;
  box-shadow: 3px 12px 50px 17px rgba(220, 0, 224, 0.6);
}

.cube-main.active::after {
  opacity: 1;
  content: "";
  z-index: 10;
  transition: 0.3s ease;
  position: absolute;
  top: 40px;
  left: 0px;
  box-shadow: 3px 12px 50px 17px rgba(220, 0, 224, 0.6);
}

.cube-main.active {
  animation: pop 0.2s ease alternate;
  animation-iteration-count: 2;
}

@keyframes shake {
  100% {
    transform: translateY(-12px);
  }
}

@keyframes a-shake {
  100% {
    transform: scale(1, 0.2);
  }
}

@keyframes pop {
  100% {
    transform: scale(1.2, 1.2) rotate(12deg);
  }
}
.theme {
  display: block;
  position: absolute;
  bottom: 50px;
  right: 66px;
  height: 10px;
  width: 80px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  /* transform: translate(-50%, 0); */
  transition: transform 1s;
  animation: a-shake 1s ease alternate infinite;
}

.circular-menu.active .theme {
  display: block;
  position: absolute;
  bottom: 50px;
  right: 66px;
  height: 10px;
  width: 80px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  /* transform: translate(-50%, 0); */
  transition: transform 1s;
  animation: none;
}

.cube_main {
  width: 85px;
  height: 85px;
  position: fixed;
  z-index: 10;
  bottom: 60px;
  right: 60px;
  background-image: url("../../assets/cube.png");
  background-size: 100% 100%;
  cursor: pointer;
  animation: shake 1s ease alternate infinite;
}

.circular-menu {
  z-index: 20;
}

.items-wrapper {
  height: 0px;
  width: 0px;
  bottom: 160px;
  right: 130px;
  position: fixed;
  /* animation: shake 1s ease alternate infinite; */
  transition: 0.3s ease;
  font-size: 0;
}

.circular-menu.active .items-wrapper {
  font-size: 16px;
  height: 40px;
  width: 300px;
  bottom: 70px;
  right: 130px;
  /* animation: none; */
  transition: 0.3s ease;
}

.circular-menu {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.circular-menu .floating-btn {
  display: block;
  /* width: 3.5em; */
  height: 3.5em;
  border-radius: 50%;
  /* box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, 0.26); */
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
}

.circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px hsla(0, 0%, 0%, 0.3);
}

.circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.4);
}

.circular-menu .floating-btn i {
  font-size: 1.3em;
  transition: transform 0.2s;
}

.circular-menu.active .floating-btn i {
  transform: rotate(-45deg);
}

.circular-menu:after {
  display: block;
  content: " ";
  /* width: 3.5em; */
  height: 3.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  transition: all 0.3s ease;
}

.circular-menu.active:after {
  transform: scale3d(5.5, 5.5, 1);
  transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
}

.circular-menu .menu-item {
  cursor: pointer;
  position: absolute;
  top: 0em;
  right: -3em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  border-radius: 10px;
  text-align: center;
  line-height: 3;
  background-color: #faa419;
  /* width: 0px; */
  opacity: 0;
  font-size: 0;
  transition: 0.3s ease;
}

.circular-menu.active .menu-item {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  border-radius: 10px;
  text-align: center;
  line-height: 3;
  background-color: #faa419;
  /* width: 0px; */
  height: 0px;
  opacity: 0;
  transition: 0.3s ease;
  padding: 0;
  margin: 0;
  box-shadow: 3px 12px 50px 17px rgba(34, 60, 80, 0.2);
}

.menu-item_text {
  margin: -5px 0;
  padding: 0;
}

.circular-menu .menu-item:hover {
  background-color: #e1951a;
}

.circular-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
  /* width: 100%; */
  height: 100%;
  opacity: 1;
  transform: translate3d(2em, -9em, 0);
}

.circular-menu.active .menu-item:nth-child(2) {
  /* width: 100%; */
  height: 100%;
  opacity: 1;
  transform: translate3d(-5em, -5.5em, 0);
}

.circular-menu.active .menu-item:nth-child(3) {
  /* width: 100%; */
  height: 100%;
  opacity: 1;
  transform: translate3d(-6em, -1.8em, 0);
}

.circular-menu.active .menu-item:nth-child(4) {
  /* width: 100%; */
  height: 100%;
  opacity: 1;
  transform: translate3d(-4em, 2em, 0);
}

/**
  * The other theme for this menu
  */

.circular-menu.circular-menu-left {
  right: auto;
  left: 1em;
}

.circular-menu.circular-menu-left .floating-btn {
  background-color: hsl(217, 89%, 61%);
}

.circular-menu.circular-menu-left:after {
  background-color: hsl(217, 89%, 61%);
}

.circular-menu.circular-menu-left.active .floating-btn i {
  transform: rotate(90deg);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
  transform: translate3d(-1em, -7em, 0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
  transform: translate3d(3.5em, -6.3em, 0);
  width: 0px;
  height: 0px;
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
  width: 0;
  height: 0;
  transform: translate3d(6.5em, -3.2em, 0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
  transform: translate3d(7em, 1em, 0);
  width: 0;
  height: 0;
}
